.Tab {
    background: var(--tab-bg);
    min-width: 100%;
    position: fixed;
    bottom: var(--action-panel-height);
    top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height) - var(--action-panel-height));
    z-index: 4;
    display: none;
    justify-content: center;

    &.isActive {
        display: flex;

    }

    &.TabMenu {
        height: calc(100vh - var(--navbar-height));
        bottom: 0;
    }
}

.centeredContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: center;
    justify-content: center;
}

.menuButtons {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    button {
        min-width: 100%;
    }
}


.pageContainer {
    background-color: var(--hud-panel-bg);
    padding: 0 2rem;



    padding: 2rem;
    min-width: 100%;
    overflow-y: auto;

    &.card {
        border-image-source: url("/assets/hudbg.png");
        border-image-slice: 24 fill;
        border-image-width: 24px;
        border-image-repeat: stretch;
        image-rendering: pixelated;
        padding: 2rem 3rem;
    }

    h2 {
        color: var(--accent-color);
    }

    .tabsHeader {
        display: flex;
        justify-content: space-between;

        .values {
            display: flex;
            gap: 1rem;
            align-items: center;
            color: var(--accent-color);
        }
    }

    .columns {
        display: flex;
        gap: 4rem;

        .column {
            width: 50%;
        }
    }
}