h1 {
    color: var(--text-color);
    font-size: 2rem;
}

p {
    margin: .5rem 0;
    color: var(--text-body);
    font-size: 1.25rem;
}

h3 {
    color: var(--accent-muted);
    text-decoration: underline;
}

span {
    font-size: 1rem;
    color: var(--accent-muted);
}

.accent {
    color: var(--accent-muted);
}