h1 {
    font-family: 'PressStart2P', sans-serif;
    color: var(--text-color);
    font-size: 2rem;
}

p {
    margin: .5rem 0;
    color: #fbee32;
    font-size: 1.25rem;
}

span {
    font-size: 1rem;
    color: #d1d37f;
}