h1 {
    color: var(--text-color);
    font-size: 2rem;

    &.dark {
        color: var(--text-color-dark);
    }
}

p {
    margin: .5rem 0;
    color: var(--text-body);
    font-size: 1.25rem;

    &.dark {
        color: var(--text-body-dark);
    }
}

h3 {
    color: var(--accent-muted);
    text-decoration: underline;
}

span {
    font-size: 1rem;
    color: var(--accent-muted);
}

.accent {
    color: var(--accent-muted);
}