.wrapper {
    position: relative;
    display: inline-block;
}

.infoButton {
    background: none;
    border: 1px solid var(--accent-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.infoButton:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.08);
}