* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/assets/fonts/PressStart2P.ttf') format('truetype');
}

@font-face {
  font-family: '8-BIT WONDER';
  src: url('/assets/fonts/8-BIT WONDER.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitmgothic';
  src: url('/assets/fonts/Bitmgothic.ttf') format('truetype');
}

html,
body,
#root {
  height: 100%;
  margin: unset;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'PressStart2P', sans-serif;

  --navbar-height: 84px;
  --action-panel-height: 200px;


  --text-color: #ffffff;

  --tab-bg: rgb(48 22 4);
}

button {
  font-family: 'PressStart2P', sans-serif;
}