* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/assets/fonts/PressStart2P.ttf') format('truetype');
}

@font-face {
  font-family: '8-BIT WONDER';
  src: url('/assets/fonts/8-BIT WONDER.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitmgothic';
  src: url('/assets/fonts/Bitmgothic.ttf') format('truetype');
}

html,
body,
#root {
  height: 100%;
  margin: unset;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'PressStart2P', sans-serif;

  --navbar-height: 84px;
  --action-panel-height: 200px;


  --text-color: #ffffff;
  --accent-color: #fbee32;
  --accent-muted: #d1d37f;

  /* HUD / Action panel colors */
  --hud-border-dark: #401d09;
  --hud-panel-bg: #2b1807;
}

button {
  font-family: 'PressStart2P', sans-serif;
}

.debug-toggle {
  position: fixed;
  z-index: 99;
  bottom: 16px;
  right: 16px;
}

.debug-banner {
  background-color: red;
  color: white;
  font-family: 'PressStart2P', sans-serif;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  font-size: 12px;
}

.hidden {
  display: none;
}